{% extends 'base.html' %}


{% block header %}
<h1 class="display-4 fw-bolder">About</h1>
<p class="lead fw-normal text-white-50 mb-0">This page es about ...</p>
{% endblock %} 

{% block content %}
<div class="container m-5">
    <div class="row">
        <center>
            <div class="col-md-8 offset-md-2">
                <p align="justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus accusamus rem fuga dignissimos nobis corporis, optio asperiores magnam ullam omnis commodi harum, eaque, 
                    voluptatem similique iusto nostrum eos. Doloribus, enim.
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}